apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
  namespace: {{ .Values.namespace }}
type: Opaque
stringData:
  DB_USER: {{ .Values.secret.DB_USER }}
  DB_PASSWORD: {{ .Values.secret.DB_PASSWORD }}
