labels:
  app: auth

replicaCount: 1

image:
  repository: ""
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  name: auth-service
  type: ClusterIP
  port: 5000
  targetPort: 5000

resources: {}

config: {}

secret: {}

hpa: {}
