labels:
  app: frontend

replicaCount: 1

image:
  repository: khanazal/notesapp-frontend
  tag: v1
  pullPolicy: IfNotPresent

service:
  name: frontend-service
  type: ClusterIP
  port: 80          # ✅ Service port (Ingress → Service)
  targetPort: 5000  # ✅ Container port (app listens here)

resources:
  requests:
    cpu: "50m"
    memory: "64Mi"
  limits:
    cpu: "300m"
    memory: "128Mi"

env:
  AUTH_URL: http://auth-service:5000
  API_URL: http://backend-service:5000

hpa:
  minReplicas: 2
  maxReplicas: 6
  averageUtilization: 10
  scaleDown:
    stabilizationWindowSeconds: 30
    policies:
      value: 100
      periodSeconds: 15
