labels:
  app: frontend

replicaCount: 1

image:
  repository: ""
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  name: frontend-service
  type: ClusterIP
  port: 80
  targetPort: 5000

resources: {}

env: {}

hpa: {}
