apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: {{ .Values.secret.MYSQL_ROOT_PASSWORD }}
  MYSQL_USER: {{ .Values.secret.MYSQL_USER }}
  MYSQL_PASSWORD: {{ .Values.secret.MYSQL_PASSWORD }}
